<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" >Toto & Mommie</a>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
    <ul class="navbar-nav d-flex flex-row">
      <!-- Icons -->
      <li class="nav-item me-3 me-lg-0" style="margin-right: 2rem !important;">
        <a class="nav-link" routerLink="cart">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </li>
      
      <!-- Icon dropdown -->
      <!-- <li mdbDropdown class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="login" >Login</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="register" >Register</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Accounts</a>
            </li>
          </ul>
      </li> -->
    </ul>
    
    
  </div>
</nav>
<div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 offset-md-5">
          <img src="../../../assets/img/new-toto.png" alt="">
      </div>
    </div>
</div>
<div class="row d-flex justify-content-center" >
  <div class="col-md-9" >
    <nav class="navbar justify-content-around navbar-expand-lg navbar-light bg-light" >
        <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          (click)="centered.toggle()"
          aria-controls="navbarCenteredExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
          
        <!-- Collapsible wrapper -->
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarCenteredExample"
          mdbCollapse
          #centered="mdbCollapse"
        >
          <!-- Left links -->
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item " style="padding-right: 3rem;">
              <a class="nav-link active " aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item" style="padding-right: 3rem;">
              <a class="nav-link" routerLink = "about">About</a>
            </li>
            <!-- Dropdown -->
            <ul class="navbar-nav" style="padding-right: 3rem;">
              <!-- Dropdown -->
              <li mdbDropdown class="nav-item dropdown" >
                <a
                class="nav-link dropdown-toggle"
                
                id="navbarDropdownMenuLink"
                role="button"
                mdbDropdownToggle
                aria-expanded="false"
                >
                  Categories
                </a>
                  <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" routerLink="one-piece" >One Piece</a>
                    </li>
                    <li>
                            <a class="dropdown-item" routerLink="sets">Sets</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="dresses">Dresses</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="accessories">Accessories</a>
                    </li>
                  </ul>
                  
              </li>
            </ul>
            <li class="nav-item" style="margin-right: 3rem;">
                <a class="nav-link" routerLink="discounts">Mommie Club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
            </li>
           
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
            <!-- Container wrapper -->
    </nav>
  </div>
    
</div>