<div class="row d-flex justify-content-center ">
    <div class="col-md-6 mt-5">
        <form style="max-width: 600px;">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form4Example1" class="form-control" style="background-color: #E8F3F1;"/>
              <label class="form-label" for="form4Example1">Name</label>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form4Example2" class="form-control" style="background-color: #E8F3F1;"/>
              <label class="form-label" for="form4Example2">Email address</label>
            </div>
          
            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea class="form-control" id="form4Example3" rows="4" style="background-color: #E8F3F1;"></textarea>
              <label class="form-label" for="form4Example3">Message</label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #7FC7AF;">Send</button>
        </form>
    </div>
</div>

