
<div class="row mt-3" >
    <div class="col-md-10 offset-md-1" style="background-image: url('../../../assets/img/about.jpg'); height: 40vh;" >
        <h3 class="text-center mt-3">
            About 
            <small class="text-muted">Us</small>
        </h3>
        <div class="col-md-12 h-10"></div>
        <p class="text-center" style=" padding: 4rem;">Through the founders journey into motherhood and the challenges she experienced with it Toto and Mommie was birthed. 
            We are here to provide organic sustainable cotton babyware Know to be the most gentle on your little one's skin. 
            In addition we are here to help you hold on to the good, breathe through the bad and welcome the wildest and the most beautiful ride of your life</p>
        <!-- <img src="../../../assets/img/about.jpg" alt=""  class="img-fluid shadow-2-strong" width="100%"> -->
    </div>
</div>

    

